@import "../scssVariables/variables.scss";

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: $fontSize;
    background-color: $buttonColor;
    border-bottom: 2px solid  $buttonColor;
    color: $textColor;
    padding: 2%;
}

.spacer {
    background: white;
}