$buttonColor: dodgerblue;
$borderColor: #94908f;
$itemBackGroundColor: #dbd3d3;
$bodyBackGroundColor: #000;

$fontSize: 40px;
$textColor: #fff;

$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;